@import url('https://fonts.googleapis.com/css?family=Oswald');

body,
html{
	font-family: 'Oswald', cursive;
}


.header{
	background-color: #FFFFFF;
	height: 90px;
	width: 100%;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	float: left;  
	vertical-align: middle;
}

#nav_bar{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display:inline-block;
	vertical-align:top;
	width: 50%;
}

#nav_bar ul li {
	float: right;
}

#nav_bar ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav_bar ul li a:hover {
	color: grey;
}

#img_nav_text{
	width: 30%;
	color: white;
	padding-left: 20%;
	padding-top: 10%;
}

#img_nav{
	
	background: url("../img/indexbanner-bg3.jpg");
	background-size: 100%;
	background-repeat: repeat-x;
	height: 500px;
	width: 100%;

}

.search_bar{
	width: 70%;	
	position: inline;
}

#srch_form{
	padding: 0;
	margin:0;
	width: 70%;
	height: 20px;
}

#srch_form #search{
	height: 100%;
	border: 0px;
	padding: 0;
	margin:0;
	background-color: white;
}

#srch_form #submit{
	height: 100%;
	border: 0px;
	padding: 0;
	margin:0;
	border-style:none;
	background-color: #0C90F5;
	float: right;
}

.price{
	font-weight: bold;
	font-size: 30px;
}

.oferta{
	width: 100px;
	height: 250px;
	border: 2px solid;
	padding: 10px;
	margin: 10px;
}

#title{
	position:inline;

}


.show_foto {
	display: inline;
	float: left;
	margin: 5px;
	
}

.centered{

	display: block;
	margin-left: auto;
	margin-right: auto 
}

#cellphone{

}